@if(user) {
<mat-toolbar color="primary">
    <button mat-fab extended [routerLink]="['/home']" >
      <mat-icon>apartment</mat-icon>
      Luminous
    </button>

    <span>
      <button mat-fab extended>
        <mat-icon>person</mat-icon>
        {{ user.user_nicename }}
      </button>
      <button mat-raised-button color="warn" (click)="sair()">
        <mat-icon>
          <span class="material-symbols-outlined">
          logout
          </span>
        </mat-icon>
        Sair
      </button>
    </span>
  </mat-toolbar>
}

