<section class="content">
  <mat-card-content>
    <mat-card>
      <button [routerLink]="['consultaCnpj']" mat-fab extended>
        <mat-icon>search</mat-icon>
        Consulta Cnpj
      </button>
    </mat-card>

    <mat-card>
      <button [routerLink]="['dashboard']" mat-fab extended>
        <mat-icon>bar_chart_4_bars</mat-icon>
        Dashboard
      </button>
    </mat-card>

    <mat-card>
      <button [routerLink]="['clientes']" mat-fab extended>
        <mat-icon>person_add</mat-icon>
        Add Cliente
      </button>
    </mat-card>
  </mat-card-content>
</section>
